noon-header
.noon-view
	.view-ranking
		ion-view
			ion-content
				.body-ranking
					.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
						.results-ranking
							.title-ranking
								img(src="img/picto-classement.png")
								h2 CLASSEMENT GÉNÉRAL
							table
								thead
									td RANK
									td USERNAME
									td QUIZ VALIDÉS
									td RATIO
									td SOMME €
								tbody(ng-repeat="player in resultsByPage track by $index")
									td(data-title="'RANK'") {{ $index + 1 + (currentPage * 10)}}
									td(data-title="'USERNAME'") {{ player.username }}
									td(data-title="'QUIZ VALIDÉES'") {{ player.quizzWinnedCount }}
									td(data-title="'RATIO'") {{ (player.quizzWinnedCount / player.quizzPlayedCount) | number : 2 }}
									td(data-title="'SOMME €'") {{ player.totalEarned.toFixed(2) }}


							.pager(ng-hide="q.length")
								button(ng-repeat="page in pages" ng-click="getResultsByPage(page)" ng-class="{ 'active' : page == currentPage }") {{ page + 1 }}

						noon-footer.show-on-keybord
			noon-footer.hide-on-keybord
