noon-header
.noon-view
	.view-ranking.visible-mobile
		ion-view
			ion-content
				.body-ranking
					.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
						.container-comming-soon
							.comming-soon.animated.swing
								img(src="img/picto-soon.png")
						.results-ranking
							.title-ranking
								img(src="img/picto-classement.png")
								h2 CLASSEMENT GÉNÉRAL
							table(ng-table="tableParamsMobile" show-filter="true")
								tr(ng-repeat="line in $data track by $index")
									td(data-title="'RANK'") {{ line.positions }}
									td(data-title="'USERNAME'" filter="{ 'username': 'text' }") {{ line.username }}
									td(data-title="'RATIO'") {{ (line.goodAnswers / line.totalAnswers) }}
									td(data-title="'SOMME €'") {{ line.totalEarned }}
						noon-footer.show-on-keybord
			noon-footer.hide-on-keybord

	.view-ranking.hidden-mobile
		.body-ranking
			.results-ranking
				.title-ranking
					img(src="img/picto-classement.png")
					h2 CLASSEMENT GÉNÉRAL
				table(ng-table="tableParams" show-filter="true")
					tr(ng-repeat="line in $data track by $index")
						td(data-title="'RANK'") {{ line.positions }}
						td(data-title="'USERNAME'" filter="{ 'username': 'text' }") {{ line.username }}
						td(data-title="'RÉPONSES VALIDÉES'") {{ line.goodAnswers }}
						td(data-title="'RATIO'") {{ (line.goodAnswers / line.totalAnswers) }}
						td(data-title="'SOMME €'") {{ line.totalEarned }}
			.comming-soon.animated.swing
				img(src="img/picto-soon.png")
		noon-footer