.footer(ng-class="{'big-footer' : $root.showNav}")
	.footer-title
		.footer-title NOON © 2015
	.footer-container
		.footer-page(ui-sref="contact") CONTACT
		.footer-page(ui-sref="faq") FAQ
		.footer-page(ui-sref="cgu") CGU
		.footer-page(ui-sref="mention") MENTION LÉGALES
	.footer-links
		.footer-link
			a(href="https://www.facebook.com/noonlejeu?fref=ts" target="_blank")
				img(src="img/picto-FB.png" alt="logo facebook")
		.footer-link
			a(href="https://twitter.com/nooners_inside" target="_blank")
				img(src="img/picto-twitter.png" alt="logo twitter")
		.footer-link
			a(href="https://instagram.com/nooners_inside" target="_blank")
				img(src="img/picto-IG.png" alt="instagram")
		.footer-link
			a(href="https://www.youtube.com/channel/UCKzMVjkjwZy1hWV347OE4Mw" target="_blank")
				img(src="img/picto-YT.png" alt="youtube")

