noon-header
.noon-view
	.view-result
		.body-result
			.container-body
				.title-result
					img(src="img/picto-resultat.png")
					h2 RÉSULTATS DU JOUR
				datepicker(ng-model="date" ng-change="getResults(date)" min-mode="day" max-mode="day" min-date="minDate" show-weeks="false" class="medate" custom-class="getDayClass(date, mode)")
				.results
					.filter
						input(type="text" ng-model="q" ng-change="search(q)")

					table
						thead
							td RANK
							td USERNAME
							td N°TICKET
							td SOMME €

						tbody(ng-repeat="result in filteredResults = (resultsByPage | filter:q ) track by $index")
							td {{ result.position + 1 }}
							td {{ result.player.username }}
							td {{ result.ticket.number }}
							td {{ result.earned }}


					.pager(ng-hide="q.length")
						button(ng-repeat="page in pages" ng-click="getResultsByPage(page)" ng-class="{ 'active' : page == currentPage }") {{ page + 1 }}


		//- noon-footer
