noon-header
.noon-view
	.view-result
		.body-result(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
			.container-body
				.title-result
					img(src="img/picto-resultat.png")
					h2 RÉSULTATS DU JOUR
				.p-result Chaque partie se déroule à cheval sur 2 jours pendant 24 heures (de 12h01 à 11h59 le lendemain). La loterie a lieu tous les midis. A titre dexemple : Pour voir les résultats de la partie se déroulant le 9 et 10, veuillez selectionner le 10 dans le calendrier
				datepicker(ng-model="date" ng-change="getResults(date)" min-mode="day" max-mode="day" min-date="minDate" show-weeks="false" class="medate" custom-class="getDayClass(date, mode)")
				.results
					.filter
						input(type="text" ng-model="q" ng-change="search(q)")

					table
						thead
							td RANK
							td USERNAME
							td N°TICKET
							td SOMME €

						tbody(ng-repeat="result in filteredResults = (resultsByPage | filter:q ) track by $index")
							td {{ result.position + 1 }}
							td {{ result.player.username }}
							td {{ result.ticket.number }}
							td {{ result.earned }}


					.pager(ng-hide="q.length")
						button(ng-repeat="page in pages" ng-click="getResultsByPage(page)" ng-class="{ 'active' : page == currentPage }") {{ page + 1 }}

	.footer-test(ng-class="{'big-footer' : $root.showNav}")
		.footer-title
			.footer-title NOON © 2015
		.footer-container
			.footer-page(ui-sref="contact") CONTACT
			.footer-page(ui-sref="faq") FAQ
			.footer-page(ui-sref="cgu") CGU
			.footer-page(ui-sref="mention") MENTION LÉGALES
		.footer-links
			.footer-link
				a(href="https://www.facebook.com/noonlejeu?fref=ts" target="_blank")
					img(src="img/picto-FB.png")
			.footer-link
				a(href="https://twitter.com/nooners_inside" target="_blank")
					img(src="img/picto-twitter.png")
			.footer-link
				a(href="https://instagram.com/nooners_inside" target="_blank")
					img(src="img/picto-IG.png")
			.footer-link
				a(href="https://www.youtube.com/channel/UCKzMVjkjwZy1hWV347OE4Mw" target="_blank")
					img(src="img/picto-YT.png")



