noon-header
.noon-view
	.view-advertiser.visible-mobile
		.content-mobile
			.body-advertiser
				.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
					.body-advertiser-title
						h2 Grâce à l'application Noon, augmentez votre visibilité et votre notoriété
					.body-advertiser-footer
						a.container-contact(href="mailto:contact@noongame.fr")
							p Contactez-nous
							img(src="img/fleche-cta.png" alt="contact")
						a.container-media(href="https://s3-eu-west-1.amazonaws.com/media-kit-noon/mediakit.pdf" target="_blanck")
							p Voir le media kit
							img(src="img/fleche-cta.png" alt="MediaKit")
					hr
					.container-cible
						.picture-trio
							img(src="img/picto1annonceur.png" alt="annoncer")
						.title-trio « Gamifiez » vos campagnes
						.desc-trio Nos espaces publicitaires ont été entièrement pensés afin de « gamifier » votre annonce. Il en résulte un taux de mémorisation bien plus important que sur n’importe quel autre support publicitaire. De plus, la gamification de votre campagne, grâce au Quiz, permet de valoriser votre image, d’augmenter votre notoriété et d’optimiser votre message auprès de votre audience.
					hr
					.container-perso
						.picture-trio
							img(src="img/text.png" alt="message")
						.title-trio Développez <br/>votre message
						.desc-trio La rédaction de vos propres questions et réponses vous permet d’axer votre message publicitaire sur les aspects de votre choix. Grâce à la mécanique du jeu, l’audience se retrouve alors intéressée et captivée par votre message. Fini la publicité perçue comme intrusive.
					hr
					.container-actio
						.picture-trio
							img(src="img/eye.png" alt="visibility")
						.title-trio Augmentez <br/>votre visibilité
						.desc-trio NOON vous donne la possibilité d’atteindre une audience  nationale et hétérogène de plusieurs millions de mobinautes. Nos espaces publicitaires  mobiles sont directement accessibles dans la poche de vos potentiels client, sur une plage horaire de 24h minimum.
					hr
					.container-cible
						.picture-trio
							img(src="img/anal.png" alt="communication")
						.title-trio Optimisez <br/>votre communication
						.desc-trio À chaque campagne, des identifiants vous seront remis afin d’accéder à vos statistiques en temps réel. Ce portail personnel vous aide à mieux connaître votre cible en mesurant l’impact de votre message, dans l’objectif d’optimiser votre stratégie de communication.
					hr
					.container-cible
						.picture-trio
							img(src="img/plus.png" alt="trafic")
						.title-trio Créez plus <br/>de trafic
						.desc-trio La mise en place des boutons « Call To Action » permet d’accroître le trafic sur la page de votre choix (Site Internet, App Store, etc). En redirigeant votre audience vers votre lien, ce bouton est une véritable porte d’entrée digitale dans votre business.
					hr

					.body-advertiser-footer
						a.container-contact(href="mailto:contact@noongame.fr")
							p Contactez-nous
							img(src="img/fleche-cta.png" alt="contact")
						a.container-media(href="https://s3-eu-west-1.amazonaws.com/media-kit-noon/mediakit.pdf" target="_blanck")
							p Voir le media kit
							img(src="img/fleche-cta.png" alt="MediaKit")
					noon-footer

	.view-advertiser.hidden-mobile
		.body-advertiser
			.body-advertiser-title
				h2 Grâce à l'application Noon, augmentez votre visibilité et votre notoriété
			.container-one
				img(src="img/picto1annonceur.png" alt="annoncer")
				.title-one « Gamifiez » vos campagnes
				.desc-one Nos espaces publicitaires ont été entièrement pensés afin de « gamifier » votre annonce.<br/> Il en résulte un taux de mémorisation bien plus important que sur n’importe quel autre support publicitaire.<br/> De plus, la gamification de votre campagne, grâce au Quiz, permet de valoriser votre image,<br/> d’augmenter votre notoriété et d’optimiser votre message auprès de votre audience.
			.body-advertiser-footer
				a.container-contact(href="mailto:contact@noongame.fr")
					p Contactez-nous
					img(src="img/fleche-cta.png" alt="contact")
				a.container-media(href="https://s3-eu-west-1.amazonaws.com/media-kit-noon/mediakit.pdf" target="_blanck")
					p Voir le media kit
					img(src="img/fleche-cta.png" alt="MediaKit")
		.container-raw
			hr.hr1
			hr.hr2
			hr.hr3
			.container-four
				img(src="img/text.png" alt="message")
				.title-four Développez <br/>votre message
				.desc-four La rédaction de vos propres questions et réponses vous permet d’axer votre message publicitaire sur les aspects de votre choix. Grâce à la mécanique du jeu, l’audience se retrouve alors intéressée et captivée par votre message. Fini la publicité perçue comme intrusive.
			.container-four
				img(src="img/eye.png" alt="visibility")
				.title-four Augmentez <br/>votre visibilité
				.desc-four NOON vous donne la possibilité d’atteindre une audience  nationale et hétérogène de plusieurs millions de mobinautes. Nos espaces publicitaires  mobiles sont directement accessibles dans la poche de vos potentiels client, sur une plage horaire de 24h minimum.
			.container-four
				img(src="img/anal.png" alt="communication")
				.title-four Optimisez <br/>votre communication
				.desc-four À chaque campagne, des identifiants vous seront remis afin d’accéder à vos statistiques en temps réel. Ce portail personnel vous aide à mieux connaître votre cible en mesurant l’impact de votre message, dans l’objectif d’optimiser votre stratégie de communication.
			.container-four
				img(src="img/plus.png" alt="trafic")
				.title-four Créez plus <br/>de trafic
				.desc-four La mise en place des boutons « Call To Action » permet d’accroître le trafic sur la page de votre choix (Site Internet, App Store, etc). En redirigeant votre audience vers votre lien, ce bouton est une véritable porte d’entrée digitale dans votre business.

		noon-footer
