.visible-mobile
	.header-mobile
		.title(ui-sref="home")
			img(src="img/logo.png" alt="logo noon")
		.burger(ng-click="($root.showNav == undefined || $root.showNav == false) ? ($root.showNav = true) : ($root.showNav = false)")
			.fa.fa-navicon
		.menu(ng-hide="$root.showNav == undefined || $root.showNav == false")
			.nav(ng-class="{ 'slideDownMenu' : $root.showNav, 'slideUpMenu' : $root.showNav == false}"
				ng-click="$root.showNav = false")
				.nav-link(ui-sref="result") Résultats
				.nav-link(ui-sref="ranking") Classement
				.nav-link(ui-sref="advertiser") Annonceurs
				.nav-link: a(href="http://redacteur.noongame.fr/" target="_blank") Devenir Rédacteur
				.nav-link: a(href="http://blog.noongame.fr/" target="_blank") Blog

.hidden-mobile
	.header-noon
		.header-container
			.title(ui-sref="home")
				img(src="img/logo.png" alt="logo noon")
			.menu
				.blog
					h2: a(href="http://blog.noongame.fr/" target="_blank") BLOG
				.result
					h2(ui-sref="result") RÉSULTATS
				.classment
					h2(ui-sref="ranking") CLASSEMENTS
				.announcer
					h2(ui-sref="advertiser") ANNONCEURS
				.redactor
					h2: a(href="http://redacteur.noongame.fr/" target="_blank") DEVENIR RÉDACTEUR
