noon-header
.noon-view
	.view-advertiser.visible-mobile
		.body-advertiser
			.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
				.body-advertiser-footer
					.container-contact(ui-sref="contact")
						p Contactez-nous
						img(src="img/fleche-cta.png")
					a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
						p Voir le media kit
						img(src="img/fleche-cta.png")
				.body-advertiser-title
					h2 Grâce à l'application Noon, augmenter votre visibilité et votre notoriété
				.container-perso
					.picture-trio
						img(src="img/picto-A1.png")
					.title-trio Développez votre message
					.desc-trio Grace au questions et réponses, personalisez et adaptez votre message publicitaire, celui ci sera mémorisé en intégralité par une audience captivée et intérésée. Différents procédés sont mis en place, permettant d'accroitre votre trafic tel que le CTA (Call To Action)
				hr
				.container-actio
					.picture-trio
						img(src="img/picto-A2.png")
					.title-trio Actionnez les bons leviers
					.desc-trio Noon est la première application mobile qui "gamifie" la publicité, la rendant ainsi ludique et intéractive. Finis la publicité perçue comme intrusive, et laissez vous tenter par cette nouvelle forme de communication.
				hr
				.container-cible
					.picture-trio
						img(src="img/picto-A3.png")
					.title-trio Analysez votre campagne
					.desc-trio A chaque fin de campagne publicitaire, une rapport détaillé vous permettra de connaître le profile de votre audience, l'impact de votre message mais aussi d'optimiser votre stratégie et vos efforts de communication.
				.body-advertiser-footer
					.container-contact(ui-sref="contact")
						p Contactez-nous
						img(src="img/fleche-cta.png")
					a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
						p Voir le media kit
						img(src="img/fleche-cta.png")
			noon-footer

	.view-advertiser.hidden-mobile
		.body-advertiser
			.body-advertiser-title
				h2 Grâce à l'application Noon, augmenter votre visibilité et votre notoriété
			.body-advertiser-container
				.container-raw
					.container-camp
						img(src="img/Picto-3.png")
						.title-four « Gamifiez » vos campagnes 
						.desc-four Nos espaces publicitaires ont été entièrement pensé afin de « gamifier » votre annonce. Il en résulte un taux de mémorisation bien plus important que sur n’importe quel autre support publicitaire. De plus, la gamification de votre campagne, grâce au Quiz, permet de valoriser votre image, d’augmenter votre notoriété et d’optimiser votre message auprès de votre audience.
				.container-raw
					.container-four
						img(src="img/Picto-2.png")
						.title-four Développez votre message 
						.desc-four La rédaction de vos propres questions et réponses vous permet d’axer votre message publicitaire sur les aspects de votre choix. Grace à la mécanique du jeu, l’audience se retrouve alors intéressée et captivée par votre message. Fini la publicité perçue comme intrusive.
					.container-four
						img(src="img/Picto-1.png")
						.title-four Augmentez votre visibilité 
						.desc-four NOON vous donne la possibilité d’atteindre une audience nationale et hétérogène de plus de 30 millions de mobinautes. Nos espaces publicitaires sont directement accessibles dans la poche de vos potentiels clients qui iront intentionnellement voir votre annonce.
					.container-four
						img(src="img/Picto-5.png")
						.title-four Optimisez votre communication 
						.desc-four Un rapport analytique détaillé vous sera remis à chaque fin de campagne. Celui-ci a pour but de vous aider à mieux connaître le profil de votre cible et de mesurer l'impact de votre message afin d’optimiser votre stratégie de communication.
					.container-four
						img(src="img/Picto-4.png")
						.title-four Créez plus de trafic
						.desc-four Nous avons mis en place des boutons « Call To Action » qui permettent d’accroitre le trafic sur la page de votre choix. En redirigeant votre audience versvotre lien, ce bouton fait office de véritable porte d’entrée digitale dans votre business.

			.body-advertiser-footer
				.container-contact(ui-sref="contact")
					p Contactez-nous
					img(src="img/fleche-cta.png")
				a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
					p Voir le media kit
					img(src="img/fleche-cta.png")
		noon-footer