noon-header
.noon-view
	.view-advertiser.visible-mobile
		.content-mobile
			.body-advertiser
				.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
					.body-advertiser-title
						h2 Grâce à l'application Noon, augmentez votre visibilité et votre notoriété
					.body-advertiser-footer
						.container-contact(ui-sref="contact")
							p Contactez-nous
							img(src="img/fleche-cta.png")
						a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
							p Voir le media kit
							img(src="img/fleche-cta.png")
					hr
					.container-cible
						.picture-trio
							img(src="img/picto1annonceur.png")
						.title-trio « Gamifiez » vos campagnes
						.desc-trio Nos espaces publicitaires ont été entièrement pensés afin de « gamifier » votre annonce. Il en résulte un taux de mémorisation bien plus important que sur n’importe quel autre support publicitaire. De plus, la gamification de votre campagne, grâce au Quiz, permet de valoriser votre image, d’augmenter votre notoriété et d’optimiser votre message auprès de votre audience.
					hr
					.container-perso
						.picture-trio
							img(src="img/text.png")
						.title-trio Développez <br/>votre message
						.desc-trio La rédaction de vos propres <br>questions et réponses vous <br>permet d’axer votre message <br>publicitaire sur les aspects de <br>votre choix. Grace à la mécanique <br>du jeu, l’audience se retrouve <br>alors intéressée et captivée par <br>votre message. Fini la publicité <br>perçue comme intrusive.
					hr
					.container-actio
						.picture-trio
							img(src="img/eye.png")
						.title-trio Augmentez <br/>votre visibilité 
						.desc-trio NOON vous donne la possibilité <br>d’atteindre une audience <br>nationale et hétérogène de plus<br> de millions de mobinautes.<br> Nos espaces publicitaires sont<br> directement accessibles dans la<br> poche de vos potentiels clients<br> qui iront intentionnellement voir<br> votre annonce.
					hr
					.container-cible
						.picture-trio
							img(src="img/anal.png")
						.title-trio Optimisez <br/>votre communication 
						.desc-trio Un rapport analytique détaillé<br> vous sera remis<br> à chaque fin de campagne.<br> Celui-ci a pour but de vous aider<br> à mieux connaître le profil de<br> votre cible et de mesurer<br> l'impact de votre message afin<br> d’optimiser votre stratégie de<br> communication.
					hr
					.container-cible
						.picture-trio
							img(src="img/plus.png")
						.title-trio Créez plus <br/>de trafic
						.desc-trio Nous avons mis en place des<br> boutons « Call To Action » qui<br> permettent d’accroitre le trafic<br> sur la page de votre choix.<br> En redirigeant votre audience<br> vers votre lien, ce bouton fait<br> office de véritable porte<br> d’entrée digitale dans votre<br> business.
					hr

					.body-advertiser-footer
						.container-contact(ui-sref="contact")
							p Contactez-nous
							img(src="img/fleche-cta.png")
						a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
							p Voir le media kit
							img(src="img/fleche-cta.png")
					noon-footer

	.view-advertiser.hidden-mobile
		.body-advertiser
			.body-advertiser-title
				h2 Grâce à l'application Noon, augmentez votre visibilité et votre notoriété
			.container-one
				img(src="img/picto1annonceur.png")
				.title-one « Gamifiez » vos campagnes 
				.desc-one Nos espaces publicitaires ont été entièrement pensés afin de « gamifier » votre annonce.<br/> Il en résulte un taux de mémorisation bien plus important que sur n’importe quel autre support publicitaire.<br/> De plus, la gamification de votre campagne, grâce au Quiz, permet de valoriser votre image,<br/> d’augmenter votre notoriété et d’optimiser votre message auprès de votre audience.
			.body-advertiser-footer
				.container-contact(ui-sref="contact")
					p Contactez-nous
					img(src="img/fleche-cta.png")
				a.container-media(href="/img/MediaKitFinal.pdf" target="_blanck")
					p Voir le media kit
					img(src="img/fleche-cta.png")
		.container-raw
			hr.hr1
			hr.hr2
			hr.hr3
			.container-four
				img(src="img/text.png")
				.title-four Développez <br/>votre message 
				.desc-four La rédaction de vos propres <br>questions et réponses vous <br>permet d’axer votre message <br>publicitaire sur les aspects de <br>votre choix. Grace à la mécanique <br>du jeu, l’audience se retrouve <br>alors intéressée et captivée par <br>votre message. Fini la publicité <br>perçue comme intrusive.
			.container-four
				img(src="img/eye.png")
				.title-four Augmentez <br/>votre visibilité 
				.desc-four NOON vous donne la possibilité <br>d’atteindre une audience <br>nationale et hétérogène de plus<br> de millions de mobinautes.<br> Nos espaces publicitaires sont<br> directement accessibles dans la<br> poche de vos potentiels clients<br> qui iront intentionnellement voir<br> votre annonce.
			.container-four
				img(src="img/anal.png")
				.title-four Optimisez <br/>votre communication 
				.desc-four Un rapport analytique détaillé<br> vous sera remis<br> à chaque fin de campagne.<br> Celui-ci a pour but de vous aider<br> à mieux connaître le profil de<br> votre cible et de mesurer<br> l'impact de votre message afin<br> d’optimiser votre stratégie de<br> communication.
			.container-four
				img(src="img/plus.png")
				.title-four Créez plus <br/>de trafic
				.desc-four Nous avons mis en place des<br> boutons « Call To Action » qui<br> permettent d’accroitre le trafic<br> sur la page de votre choix.<br> En redirigeant votre audience<br> vers votre lien, ce bouton fait<br> office de véritable porte<br> d’entrée digitale dans votre<br> business.

		noon-footer