noon-header
.noon-view
	.view-mention.visible-mobile
		.body-mention
			.wrapper-mobile.animated(ng-class="{'slideDownNav' : $root.showNav, 'slideUpNav' : $root.showNav == false}")
				.body-mention-container
					.bloc-container
						.title EDITEUR DU SITE
						hr
						.desc SAS HELANDYS - Capital de 1.000e - RCS de Paris : 808 535 082 11-13 avenue de Friedland, 75008 Paris, France
					.bloc-container
						.title DIRECTEUR DE LA PUBLICATION
						hr
						.desc Monsieur Gauthier Devoucoux
					.bloc-container
						.title HEBERGEUR
						hr
						.desc www.xxxxxxxxxx.com
					.bloc-cnil Numéro CNIL : 1832021 (du 30/01/2015)

		noon-footer

	.view-mention.hidden-mobile
		.body-mention
			.body-mention-container
				.bloc-container
					.title EDITEUR DU SITE
					hr
					.desc SAS HELANDYS - Capital de 1.000e - RCS de Paris : 808 535 082 11-13 avenue de Friedland, 75008 Paris, France
				.bloc-container
					.title DIRECTEUR DE LA PUBLICATION
					hr
					.desc Monsieur Gauthier Devoucoux
				.bloc-container
					.title HEBERGEUR
					hr
					.desc www.xxxxxxxxxx.com
				.bloc-cnil Numéro CNIL : 1832021 (du 30/01/2015)
		noon-footer